// nav_list
.nav_list {
	display: none;
	>li {
		margin-left: 20px;
		&:first-child {
			margin-left: 0;
		}
	}
	.nav_list-link {
		display: block;
		padding: 2px 3px;
		font-size: 14px;
		font-weight: bold;
		color: #ffffff;
		text-decoration: none;
		line-height: 16px;
		border-radius: 3px;
		transition: background-color 0.2s ease-in, color 0.2s ease-in;
		&:hover,
		&.is-active {
			color: #35a581;
			background-color: #ffffff;
		}
	}
}

@media screen and (min-width: 600px) {
	.nav_list {
		display: flex;
	}
}